body {
  background-color: gray;
  background-image: url(https://lastfm.freetls.fastly.net/i/u/500x500/084a8307815d612179b3ddbfac0405ac.jpg);
}

img {
  display: block;
  margin: auto;
  max-width: 800px;
}
div {
  margin: auto;
  max-width: 1000px;
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.t1,
.t2 {
  margin: auto;
}

td {
  text-align: center;
}

.all {
  border: 5px solid black;
  overflow-x: auto;
  background-color: lightgray;
}

p {
  padding: 0px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:visited {
  color: black;
}

a {
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:active {
  color: green;
}
