body {
  background-color: gray;
  background-image: url(https://tshirtslayer.com/files-tshirt/styles/shirtview/public/user-31950/tss--071418b8ce1644b65d42a1c3f8d45315.jpg);
}

img {
  display: block;
  margin: auto;
  max-width: 800px;
}
div {
  margin: auto;
  max-width: 1000px;
  text-align: center;
}

ul {
  list-style: none;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.t1,
.t2 {
  margin: auto;
}

td {
  text-align: center;
}

.all {
  border: 5px solid black;
  overflow-x: auto;
  background-color: lightgray;
}

p {
  padding: 0px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:visited {
  color: black;
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:active {
  color: blue;
}

nav {
  text-align: center;
}
